<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mejores Discotecas en Lima</title>
    <link rel="stylesheet" href="app/css/css.css">
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <div v-if="see">
        </div>
        <div>
            <ul>
                <li v-for="discoteca in discotecas" :key="discoteca.nombre">
                    <h2>{{ discoteca.nombre }}</h2>
                    <img :src="discoteca.imagen" alt="Imagen de {{ discoteca.nombre }}" width="200">
                    <p>{{ discoteca.descripcion }}</p>
                    <p><strong>Ubicación:</strong> {{ discoteca.ubicacion }}</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app/app.js"></script>
</body>
</html>
